{% extends 'layouts/first.html.twig' %}

{% use 'pages/index/blocks/slider.html.twig' %}
{% use 'blocks/feedback.html.twig' %}

{% block main %}
    {% block slider %}{{ parent() }}{% endblock %}
    <!-- #main-carousel-->


    <!-- services start -->
    <section class="service-home section-padding">
        <div class="container text-center">
            <div class="row content-row">
                <div class="col-sm-4">
                    <div class="service">
                        <div class="service-thumb-home">
                            <a href="#"><img src="img/auto-service.jpg" alt=""></a>
                        </div>

                        <h3>Комплексный ремонт</h3>
                        <p>Выполнение работ любой сложности.<br>Ремонт всех агригатов грузовиков</p>
                    </div>
                </div><!-- /.col-sm-4 -->

                <div class="col-sm-4">
                    <div class="service">
                        <div class="service-thumb-home">
                            <a href="#"><img src="img/saler-auto.jpg" alt=""></a>
                        </div>
                        <h3>Продажа запчастей</h3>
                        <p>Большой асортимент оригинальных<br>а также аналоговых запчастей к грузовикам и полуприцепам</p>
                    </div>

                </div><!-- /.col-sm-4 -->

                <div class="col-sm-4">
                    <div class="service">
                        <div class="service-thumb-home">
                            <a href="#"><img src="img/info-auto.jpg" alt=""></a>
                        </div>
                        <h3>Технические консультации</h3>
                        <p>Всегда рады помочь и<br>проконсультировать наших клиентов</p>
                    </div>
                </div><!-- /.col-sm-4 -->
            </div> <!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- services end -->

    <!-- featuer-section start -->
    <section class="feature-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <h2>Мы ценим ваше время!</h2>
                    <p>Одно из ключевых наших преимуществ - мы полностью понимаем специфику грузоперевозок, как международных так и по територии Украины.</p>
                    <p>У нас более 50 едениц собственых тягачей, преимущественно марки RENAULT u VOLVO с экологическим стандартом EURO 5
                        поэтому мы в полной мере понимаем важность выполнения полного обЪема услуг в назначеные сроки.</p>


                </div>

            </div>
        </div>
    </section>
    <!-- featuer-section end -->


    <!-- counter start -->
    <section class="counter-section" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="counter-block">
                        <span class="count-description flaticon-boat"><strong class="timer">799</strong>order delivered</span>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="counter-block">
                        <span class="count-description flaticon-international"><strong class="timer">19</strong>order delivered</span>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="counter-block">
                        <span class="count-description flaticon-compass"><strong class="timer">521</strong>order delivered</span>
                    </div>
                </div>
            </div> <!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.counter-section -->
    <!-- counter end -->

    {% block feedback %}{{ parent() }}{% endblock %}


{% endblock main %}

