{% block slider %}
    <div id="main-carousel" class="carousel slide hero-slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/img/slider/slide-3.jpg" alt="Hero Slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="animated lightSpeedIn red">TRUCK CENTER</h1>

                        <p class="lead animated lightSpeedIn">Магазин запчастей с широким асортиментом<br>Качественый коплексный ремонт грузовиков и полуприцепов</p>

                        <a class="btn btn-primary animated lightSpeedIn" href="{{ path('contacts') }}"> Связаться с нами</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}