{% block slider %}
    <div id="main-carousel" class="carousel slide hero-slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/img/slider/slide-3.jpg" alt="Hero Slide">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="phone animated lightSpeedIn">+38(066)8896120</div>
                        <h1 class="animated lightSpeedIn" style="">СТО Грузовых авто - Чернигов</h1>

                        <p class="lead animated lightSpeedIn">Качественный и доступный автосервис грузовых авто в Чернигове.</p>

                        <a class="btn btn-primary animated lightSpeedIn" href="{{ path('contacts') }}"> Связатся с нами</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}